{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}
{% block content %}


<div class="showcase">
    <div class="card bg-dark text-white" style="width: 85%; margin: auto;">
        <img src="static/images/rasm1.jpg" class="card-img" alt="rauf-parfi">
            <div class="card-img-overlay">
                <h1 class="card-title" style="text-align: center; margin: 40px">Rauf Parfi</h1>
                <h2 class="card-text" style="text-align: center">O'zbekiston xalq shoiri</h2>
            </div>
    </div>
</div>

<div id="tug_yili ">
    <div class="container py-2 mt-4">
        <div class="row">

             <div class="bg-light col-md-6 mt-4">
                 <h3> RAUF PARFI NECHANCHI YIL TUG’ILGAN?</h3>

                 <h6 class="text-right">Olim OLTINBEK</h6>
                 <p> Bunday ilmiy muammo bir necha asr avval yashagan shaxslarga nisbatan qo’yilardi, aslida. Lekin, afsuski, kuni kecha yashab o’tgan va bugun hali tengdoshlari hayot bo’lgan bir shoirning tug’ilgan sanasi bilan bog’liq muammo adabiyotshunosligimizda deyarli ko’rilmagan. Uni muammo sifatida ko’tarish kimlargadir erish tuyular, balki. Ammo ilm aniqlikni xush ko’radi. Ana shu ilmning talabidan kelib chiqib, biz ham ushbu masalani hal etishga jazm qildik.

                 </p>
                <a href="https://kh-davron.uz/kutubxona/uzbek/olim-oltinbek-rauf-parfi-qachon-tugilgan.html" class="card-link">Batafsil...</a>
            </div>
            <div class="col-md-6 mt-4">
                <img src="static/images/yoshligi.png" class="img-fluid" alt="banner1">
            </div>
        </div>
    </div>
</div>

<div id="about_us">
    <div class="container py-2 mt-4">
        <div class="row">
            <div class="col-md-6 mt-4">
                 <iframe width="560" height="415" src="https://www.youtube.com/embed/Pedz07uxQ7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <div class="bg-light col-md-6 mt-4">
            <h3> RAUF PARFI VA JAHON SHE’RIYATI</h3>
                <h6 class="text-right">Olim Oltinbek</h6>
      <p>Rauf Parfining “Pushkinga” deb nomlangan: She’rlaring-la yashnadi qalbim, Shirin orom baxsh etding,
          She’rlaring-la o’ylarga toldim, Vatanimga topdim muhabbat, – she’ri ostida 12. 03. 56. sanasi qo’yilgan.
          Mixail Lermontovning “Qarag’ay” she’rini esa u ushbu sanadan bor-yo’g’i o’n besh kun keyin (27. 03. 56)
          tarjima qilgandi. O’shanda shoir hali 15 yosh atrofida edi. Rauf Parfining keyingi daftarlarida tarjimalar soni yana-da ko’payib borgan. Bular dunyo she’riyatining H. Heyne, P. Verlen, R. Thakur, A. Blok, P. Neruda, R. Rojdestvenskiy kabi vakillari qalamiga mansub. Shoir ijodining ilk davriga tegishli ushbu tarjimalar Rauf Parfining jahon she’riyati namunalari bilan tanishuvi va, ayni paytda, ona tiliga o’girish tajribalari juda erta boshlanganidan dalolat beradi. Bu ijodiy jarayon shoir umrining oxirigacha davom etdi.</p>
            <a href="https://kh-davron.uz/kutubxona/uzbek/olim-oltinbek-rauf-parfi-va-jahon-sheriyati.html" class="card-link">Batafsil...</a>
            </div>

        </div>
    </div>
</div>


<div id="dostlar-us py-2 mt-4">
    <div class="container">
        <div class="row">

             <div class="bg-light col-md-6 mt-4">
                 <h3 class="text-center"> RAUF PARFINING ADABIY-ESTETIK QARASHLARI</h3>
                 <h6 class="text-right">Olim OLTINBEK</h6>
                 <p>Har bir shoirning ijodkor sifatida shakllanishida xizmat qiladigan bir qator omillar bo’ladi. Shulardan biri – o’sha ijodkor ustoz deb bilgan shoirlar. Hatto ustozlariga qarab shoirning ijodkorlik darajasini beligash mumkinday tuyuladi menga. Shuningdek, Rauf Parfining ham. Bu jihatdan qaraganda ham shoirning martabasi ulug’.</p>
            <a href="https://kh-davron.uz/kutubxona/uzbek/olim-oltinbek-rauf-parfi.html" class="card-link">Batafsil...</a>
             </div>
            <div class="col-md-6 mt-4">
                <img src="static/images/estetik.png" class="img-fluid" alt="banner1">
            </div>
        </div>
    </div>
</div>






      <br class="my-4">
                <div class="row text-center text-dark">
                     <div class="col">
                        <h2>Ushbu loyiha ijodkorlari</h2>
                    </div>
                </div>




<div class="banner" style="width: 85%; margin: auto;">
    <div class="card-deck py-2 mt-4">
    <div class="card">
        <img src="static/images/Muqadasopa.jpg" class="card-img-top" alt="Muqadasopa">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center">Muqaddas Abdurahmanova</h5>
            <p class="card-text" style="text-align: center">Mirzo Ulug'bek nomidagi O'zbekiston Milliy universiteti dotsenti, filologiya fanlari nomzodi</p>
            <p class="card-text" style="text-align: center"><small class="text-muted">G'oya muallifi</small></p>
        </div>
    </div>
     <div class="card">
         <img src="static/images/Olimaka.jpg" class="card-img-top" alt="Olimaka">
        <div class="card-body">
        <h5 class="card-title" style="text-align: center">Olim To'laboyev</h5>
        <p class="card-text" style="text-align: center">Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti dotsenti, filologiya fanlari nomzodi</p>
        <p class="card-text" style="text-align: center"><small class="text-muted"> Shoir Rauf Parfi asarlarini to'plagan</small></p>
        </div>
     </div>
        <div class="card">
        <img src="static/images/Matluba1.jpg" class="card-img-top" alt="Matluba">
        <div class="card-body">
        <h5 class="card-title" style="text-align: center">Matluba Rayimjonova </h5>
        <p class="card-text" style="text-align: center">Mirzo Ulug'bek nomidagi O'zbekiston Milliy universiteti kompyuter lingvistikasi mutaxassisligi magistrant</p>
        <p class="card-text" style="text-align: center"><small class="text-muted">Web sahifa tayyorlovchi</small></p>
        </div>
        </div>
    </div>
</div>





{% endblock content %}