{% extends 'base.html' %}
{% load static %}

{% block title %}Mukofot{% endblock title %}
{% block content %}


<div id="mukofotlar ">
    <div class="container">
        <div class="row">

             <div class="bg-light col-md-6 mt-4">
                 <h3 class="text-center"> SHOIRNING MUKOFOTLARI</h3>


                 <p>Rauf Parfiga “Sabr daraxti” to‘plami uchun O‘zbekiston Yozuvchilar yushmasining Hamid Olimjon nomidagi yillik mukofoti berilgan.</br> 1992-yilda Xalqaro Mahmud Qoshg‘ariy mukofoti bilan taqdirlangan.
                     </br>Turkiyada Diyonat Vaqfi tomonidan o‘tkaziladigan turkiy zabon shoirlar tanlovida g‘olib bo‘lgan (1993).
                     </br>Ulug‘ shoirga 1999-yilda O‘zbekiston xalq shoiri unvoni berilgan.</p>

            </div>
            <div class="col-md-6 mt-4">
                    <img src="{% static 'images/LOTOS.jpg' %}" class="img-fluid" alt="banner1">

                </div>
        </div>
    </div>
</div>

{% endblock content %}