{% extends 'base.html' %}
{% load static %}

{% block title %}Surat{% endblock title %}
{% block content %}
<div id="images" class="my-5">
    <div class="container">
        <div class="row">
                <div class="col-md-4 mt-3">
                    <img src="{% static 'images/dostlar1.jpg' %}" class="img-fluid" alt="banner1">

                </div>

                <div class="col-md-4 mt-3">
                    <img src="{% static 'images/dostlar2.jpg' %}" class="img-fluid" alt="banner1">

                </div>

                <div class="col-md-4 mt-3">
                    <img src="{% static 'images/Shoir4.jpg' %}" class="img-fluid" alt="banner1">

                </div>
        </div>

        <div class="row">

                <div class="col-md-4 mt-3">
                    <img src="{% static 'images/dostlar3.jpg' %}" class="img-fluid" alt="banner1">

                </div>

                <div class="col-md-4 mt-3">
                    <img src="{% static 'images/dostlar4.jpg' %}" class="img-fluid" alt="banner1">

                </div>

                <div class="col-md-4 mt-3">
                    <img src="{% static 'images/4.jpg' %}" class="img-fluid" alt="banner1">

                </div>
        </div>


    </div>

</div>


{% endblock content %}